body{
    background-color: #27213c;
    margin: 0;
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgba(39 33 60,.70);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
nav>a{
    color:#e2512d;
    text-decoration: none;
    padding: 1rem 2rem;
    font-weight: 900;
    display: inline-block;
}
nav>a:hover{
    color: #A33B20;
    text-decoration: underline;
}
